<!DOCTYPE html>
<html ng-app="StrengthValidationApp">

    <head>

        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>Online Site</title>

        <!-- CSS -->
        <link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Roboto:400,100,300,500">
        <link rel="stylesheet" href="assets/bootstrap/css/bootstrap.min.css">
        <link rel="stylesheet" href="assets/font-awesome/css/font-awesome.min.css">
		<link rel="stylesheet" href="assets/css/form-elements.css">
        <link rel="stylesheet" href="assets/css/style.css">
		 
<link href="style.css" rel="stylesheet" type="text/css" media="screen" />
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular.min.js"></script>
        <!-- Favicon and touch icons -->
        <link rel="shortcut icon" href="assets/ico/favicon.png">
        <link rel="apple-touch-icon-precomposed" sizes="144x144" href="assets/ico/apple-touch-icon-144-precomposed.png">
        <link rel="apple-touch-icon-precomposed" sizes="114x114" href="assets/ico/apple-touch-icon-114-precomposed.png">
        <link rel="apple-touch-icon-precomposed" sizes="72x72" href="assets/ico/apple-touch-icon-72-precomposed.png">
        <link rel="apple-touch-icon-precomposed" href="assets/ico/apple-touch-icon-57-precomposed.png">

    </head>

    <body>
<div id="wrapper">
	<div id="header-wrapper">
		<div id="header">
			<div id="logo">
				<h1>PHOENIX Online Site</h1>
			</div>
		</div>
	</div>
	<!-- end #header -->
	<div id="menu">
	
		<ul>
			<li class="current_page_item"><a href="#">Home</a></li></ul>
			<ul class="nav navbar-nav navbar-right">
			<li><a href="Blog.html">Blog</a></li>
           <li><a href="forum.html">Forums</a></li>
           <li><a href="#">Jobs</a></li>
		    <li><a href="#">Events</a></li>
		</ul>
		<nav>
	</div>
        <!-- Top content -->
        
        <div class="top-content">
        	
            <!--<div class="inner-bg">-->
                <div class="container">
                    <div class="row">
                        <div class="col-sm-5">
                        	
                        	<div class="form-box">
	                        	<div class="form-top">
	                        		<div class="form-top-left">
	                        			<h3>Login to our site</h3>
	                            		<p>Enter username and password to log on:</p>
	                        		</div>
	                        		<div class="form-top-right">
	                        			<i class="fa fa-key"></i>
	                        		</div>
	                            </div>
	                            <div class="form-bottom">
				                 
                                    <form name="userForm" ng-submit="submitForm()" novalidate>
				                    	<div class="form-group" ng-class="{ 'has-error' : userForm.email.$invalid && !userForm.email.$pristine }">
				                    		<label class="sr-only" for="form-email">Email</label>
				                    		 <input type="email" name="email"  placeholder="Email..." class="form-email form-control" ng-model="user.username" ><!-- ng-minlength="3" ng-maxlength="8"> -->
           <!--  <p style="color:red" ng-show="userForm.username.$error.minlength" class="help-block">Username is too short.</p>
            <p style="color:red" ng-show="userForm.username.$error.maxlength" class="help-block">Username is too long.</p> -->
             <span style="color:red" ng-show="userForm.email.$dirty && userForm.email.$invalid">
  <span ng-show="userForm.email.$error.required">Email is required.</span>
  <span ng-show="userForm.email.$error.email">Invalid email address.</span>
  </span>
        </div>
				                        <div class="form-group">
				                        	<label class="sr-only" for="form-password">Password</label>
				                        	<input type="password" name="form-password" placeholder="Password..." class="form-password form-control" id="form-password">
				                        </div>
				                        <button type="submit" class="btn">Sign in!</button>
				                    </form>
			                    </div>
		                    </div>
		                
		                	<div class="social-login">
	                        	<h3>...or login with:</h3>
	                        	<div class="social-login-buttons">
		                        	<a class="btn btn-link-1 btn-link-1-facebook" href="#">
		                        		<i class="fa fa-facebook"></i> Facebook
		                        	</a>
		                        	<a class="btn btn-link-1 btn-link-1-twitter" href="#">
		                        		<i class="fa fa-twitter"></i> Twitter
		                        	</a>
		                        	<a class="btn btn-link-1 btn-link-1-google-plus" href="#">
		                        		<i class="fa fa-google-plus"></i> Google Plus
		                        	</a>
	                        	</div>
	                        </div>
	                        
                        </div>
                        
                      
                        <div class="col-sm-1 middle-border"></div>
                        <div class="col-sm-1"></div>
                        	
                        <div class="col-sm-5">
                        	
                        	<div class="form-box">
                        		<div class="form-top">
	                        		<div class="form-top-left">
	                        			<h3>Sign up now</h3>
	                            		<p>Fill in the form below to get instant access:</p>
	                        		</div>
	                        		<div class="form-top-right">
	                        			<i class="fa fa-pencil"></i>
	                        		</div>
	                            </div>
	                            <div class="form-bottom">
				                    <form name="myForm" ng-submit="submitForm()" novalidate>
				                    	<div class="form-group" ng-class="{ 'has-error' :myForm.name.$invalid && ! myForm.name.$pristine }">
				                    		<label class="sr-only" for="form-first-name">First name</label>
				                        	<input type="text" name="name" placeholder="First name..." class="form-first-name form-control" id="form-first-name" ng-model="user.name" required>
				                            <p style="color:red" ng-show="myForm.name.$invalid && ! myForm.name.$pristine" class="help-block">You name is required.</p>
				                        </div>
				                        <div class="form-group" ng-class="{ 'has-error' :myForm.lname.$invalid && ! myForm.lname.$pristine }">
				                        	<label class="sr-only" for="form-last-name">Last name</label>
				                        	<input type="text" name="lname" placeholder="Last name..." class="form-last-name form-control" id="form-last-name" ng-model="lname" required>
				                        	 <p style="color:red" ng-show="myForm.lname.$invalid && ! myForm.lname.$pristine" class="help-block">You name is required.</p>
				                        </div>
				                        <div class="form-group">
				                        	<label class="sr-only" for="form-email">Email</label>
				                        	<input type="email" name="email" placeholder="Email..." class="form-email form-control" id="form-email" ng-model="email" requried>
				                            <span style="color:red" ng-show="myForm.email.$dirty && myForm.email.$invalid">
                                             <span ng-show="myForm.email.$error.required">Email is required.</span>
                                                 <span ng-show="myForm.email.$error.email">Invalid email address.</span>
                                                 </span>
				                        </div> 
				                        <div class="form-group">
                                                  <input name="password" type="password" class="form-control" placeholder="Password" ng-model="formData.password" ng-pattern="/(?=.*[a-z])(?=.*[A-Z])(?=.*[^a-zA-Z])/" required />
                                                 <span style="color:red" ng-show="!myForm.password.$error.required &&  myForm.password.$error.pattern && myForm.password.$dirty">Must contain one lower &amp; uppercase letter, and one non-alpha character (a number or a symbol.)</span>
                                        </div>
                                       <div class="form-group">
                                                   <input name="confirm_password" type="password" class="form-control" placeholder="Confirm Password" ng-model="formData.confirmPassword" ng-pattern="formData.password" required />
                                                   <span style="color:red" ng-show="formData.password !=formData.confirmPassword">Your passwords must match.</span>
                                       </div>
                           <!--             			                         <div class="form-group">
        <input name="password" type="password" class="form-control" placeholder="Password" ng-model="formData.password" ng-pattern="/(?=.*[a-z])(?=.*[A-Z])(?=.*[^a-zA-Z])/" required />
        <span style="color:white" ng-show="!userForm.password.$error.required &&  userForm.password.$error.pattern && userForm.password.$dirty">Must contain one lower &amp; uppercase letter, and one non-alpha character (a number or a symbol.)</span>
      </div>
      <div class="form-group">
        <input name="confirm_password" type="password" class="form-control" placeholder="Confirm Password" ng-model="formData.confirmPassword" ng-pattern="formData.password" required />
        <span style="color:white" ng-show="formData.password != formData.confirmPassword">Your passwords must match.</span>
      </div> -->
				                          <button type="submit" class="btn" ng-disabled="formData.password != formData.confirmPassword" ng-click="createUser()">Sign me up!</button>
				                    </form>
				                    </form>
			                    </div>
                        	</div>
                        	
                        </div>
                    </div>
                    
                </div>
            </div>
            
        </div>


        <!-- Footer -->
        <footer>
        	<div class="container">
        		<div class="row">
        			
        			<div class="col-sm-8 col-sm-offset-2">
        				<div class="footer-border"></div>
        				<p>Made by Anli Zaimi at <a href="http://azmind.com" target="_blank"><strong>AZMIND</strong></a> 
        					having a lot of fun. <i class="fa fa-smile-o"></i></p>
        			</div>     			
        		</div>
        	</div>
        </footer>

        <!-- Javascript -->
        <script src="assets/js/jquery-1.11.1.min.js"></script>
        <script src="assets/bootstrap/js/bootstrap.min.js"></script>
        <script src="assets/js/jquery.backstretch.min.js"></script>
        <script src="assets/js/scripts.js"></script>
        
        <!--[if lt IE 10]>
            <script src="assets/js/placeholder.js"></script>
        <![endif]-->

    </body>
<script>
    var app = angular.module("StrengthValidationApp", []);
    app.controller("StrengthValidationCtrl", function($scope) {

      var strongRegularExp = new RegExp("^(?=.*[a-z])(?=.*[A-Z])(?=.*[0-9])(?=.*[!@#\$%\^&\*])(?=.{8,})");
      var mediumRegularExp = new RegExp("^(((?=.*[a-z])(?=.*[A-Z]))|((?=.*[a-z])(?=.*[0-9]))|((?=.*[A-Z])(?=.*[0-9])))(?=.{6,})");

      $scope.checkpwdStrength = {
        "width": "150px",
        "height": "25px",
        "float": "right"
      };

      $scope.validationInputPwdText = function(value) {
        if (strongRegularExp.test(value)) {
          $scope.checkpwdStrength["background-color"] = "green";
        } else if (mediumRegularExp.test(value)) {
          $scope.checkpwdStrength["background-color"] = "orange";
        } else {
          $scope.checkpwdStrength["background-color"] = "red";
        }
      };

    });
  </script>
</html>